.welcome {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__btn-container {
    position: absolute;
    bottom: 7%;
    width: 100%;
  }

  &__btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 3px;
    color: #E8EFF1;
    text-shadow: -2px -1px #F17555;
    background: #1E1958;
    transition: .3s;

    &:after {
      content: "";
      position: absolute;
      height: 105%;
      width: 105%;
      z-index: -1;
      left: -4px;
      top: -1px;
      background: #F17555;
      transform: skewY(2deg);
      transition: .3s;
    }

    &:hover {
      text-shadow: none;
    }

    &:hover:after {
      transform: none;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  &__img {
    object-fit: cover;
    max-width: 100%;
  }
}

