@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import "../../Assets/styles/variabels";

.welcome {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__btn-container {
    position: absolute;
    overflow: hidden;
    bottom: 8%;
    width: 100%;
  }

  &__btn {
    @include adaptive-font(30, 17);
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding: 0.5em 1em;
    background: #000000;
    color: #ffffff;
    border: 4px #ffffff solid;
    display: block;
    margin: 0 auto;

    &:hover {
      box-shadow: 1px 0 29px 10em rgba(0, 0, 0, 0.23) inset;
      background: transparent;
      transition: all .4s ease-in-out;
    }
  }

  &__img {
    object-fit: cover;
    max-width: 103%;
  }
}

