.content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.7em;
  min-height: 85vh;
  @media (max-width: 1024px) {
    width: 70%;
  }
  @media (max-width: 550px) {
    width: 90%;
    padding-top: 1em;
  }
}

.giftImg {
  position: fixed;
  object-fit: cover;

  &-big {
    right: 0;
    max-width: 17%;
    @media (max-width: 1024px) {
      max-width: 15%;
    }
    @media (max-width: 550px) {
      max-width: 33%;
    }
  }

  &-cut {
    max-width: 8%;
    left: 4%;
    top: 2%;
    @media (max-width: 1024px) {
      max-width: 10%;
    }
    @media (max-width: 550px) {
      max-width: 17%;
    }
  }

  &-small {
    max-width: 17%;
    right: 1%;
    bottom: 1%;
    @media (max-width: 1024px) {
      max-width: 30%;
    }
    @media (max-width: 550px) {
      max-width: 45%;
    }
  }
}

.hiddenImg {
  @media (max-width: 1024px) {
    display: none;
  }
}