.content {
  width: 55%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
}

.giftImg {
  position: fixed;
  object-fit: cover;

  &-big {
    right: 0;
    max-width: 35%;
  }

  &-cut {
    max-width: 8%;
    left: 4%;
    top: 2%;
  }

  &-small {
    max-width: 25%;
    right: 1%;
    bottom: 1%;
  }
}

@media (max-width: 1024px) {
  .content {
    width: 70%;
  }
  .giftImg {
    &-big {
      max-width: 23%;
    }

    &-cut {
      max-width: 13%;
    }

    &-small {
      max-width: 35%;
    }
  }
}

@media (max-width: 550px) {
  .content {
    height: 100%;
    width: 90%;
  }
  .giftImg {
    &-big {
      max-width: 35%;
    }

    &-cut {
      max-width: 20%;
    }

    &-small {
      max-width: 45%;
    }
  }

}