@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import "../../Assets/styles/variabels";

.result {
  @include background();
  @include adaptive-font(25, 14);
  box-sizing: border-box;
  padding: 4%;
  margin-bottom: 5%;
  border: 2px #000000 solid;
  border-radius: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  &__title {
    color: #1E1407;
    max-width: 70%;
    margin: 2em auto;
    line-height: 1.3em;
  }

  &__img {
    display: block;
    height: 450px;
    margin: 0 auto;
    object-fit: cover;
    max-width: 70%;
    @media (max-width: 1024px) {
      height: 300px;
    }
    @media (max-width: 768px) {
      height: 250px;
    }
    @media (max-width: 425px) {
      height: 200px;
    }
  }

  &__btn {
    box-sizing: border-box;
    margin-top: 3em;
    border: 2px #000000 solid;
    border-radius: 1em;
    padding: 0.5em 1.7em;
    background: transparent;

    &:hover {
      background-color: #F68657;
      border-color: #F68657;
      color: #F2F2F2;
      transition: all .3s ease-in;
    }
  }
}