.progressBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  margin-left: -12%;
  width: 124%;

  @media (max-width: 768px) {
    margin-bottom: 20%;
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    $circlePadding: 2px;
    $circleSize: 0.6em;

    .circle {
      display: flex;
      width: $circleSize;
      height: $circleSize;
      border: 1px #000000 solid;
      border-radius: 50%;
      align-items: center;
      padding: $circlePadding;

      &:before, &:after {
        content: "";
        display: block;
        background-color: #000000;
      }

      &:before {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

      &:after {
        position: absolute;
        height: 2px;
        width: calc(100% - (#{$circleSize} + #{$circlePadding*2}));
        margin-left: calc(#{$circleSize} + #{$circlePadding});
      }
    }

    $activeColor: #F68657;

    .active {
      border-color: $activeColor;

      &:before, &:after {
        background-color: $activeColor;
      }
    }

    &:last-child .circle:after {
      width: 0;
      height: 0;
    }
  }
}